<div class='container'>

<div class='halfscreen'>
<h3>About the Devs</h3>
<p>Soft Wear Solutions is an up and coming web development trio hailing from Eleven Fifty Academy in Fishers, Indiana, specializing in Javascript/HTML, React, and Angular.<br/>
  The team consists of Chris Wood, Becky Fox, and Austin McVicker</p>
</div>
<div class='halfscreen'>
  <form method="POST" action="https://formspree.io/foxbeckya@gmail.com">
    <input type="text" name="name" placeholder="Your name" /><br/>
    <input type="email" name="_replyto" placeholder="Your email" /><br/>
    <textarea id='message' name="message" placeholder="Your message"></textarea><br/>
    <input class="button" type="submit" value="Submit Form" />
  </form>
</div>
</div>