.halfscreen {
  width: 15%;
  margin: 20px;
  padding: 30px;
}

#message {
  height: 200px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

#background {
    width: 100%; 
    height: 100%; 
    position: fixed; 
    left: 0px; 
    top: 0px; 
    opacity: .3;
    z-index: -1; 
  }
  .stretch {
    width:100%;
    height:100%;
  }
  @font-face {
    font-family: Noir;
    src: url('../../assets/Noir/NoirStd-Regular.ttf');
  }
  
  @font-face {
    font-family: Noir;
    src: url('../../assets/Noir/NoirStd-Bold.ttf');
    font-weight: bold;
  }
  
  h3, p, ::placeholder, .button {
    font-family: Noir; 
    letter-spacing: 2px;
    color: #342a1d;
  }

  ::placeholder, .button {
      color: #666737;
  }
  
  input {
    height: 1em;
    font-size: 1em;
    padding-left: .4em;
  }
  textarea {
    height: 3em;
    font-size: 1em;
    padding-left: .4em;
  }
  
  input, textarea {
    background-color: #a4c76f;
    border: none;
    border-radius: 4px;
  }

  .button {
    background-color:#a4c76f;
    border: none;
    border-radius: 4px;
    height: 1.2em;
    font-size: 1em;
    padding-left: .4em;
  }
  .button:hover {
    background-color: #618132;
  }
