.center {
  text-align: center;
  border: 2px solid #342a1d;
  border-radius: 15px 50px;
  padding: 20px;
  margin: 10px;
  background: #a4c76f;
}
#background {
  width: 100%; 
  height: 100%; 
  position: fixed; 
  left: 0px; 
  top: 0px; 
  opacity: .3;
  z-index: -1; 
}
.stretch {
  width:100%;
  height:100%;
}
@font-face {
  font-family: Noir;
  src: url('../../assets/Noir/NoirStd-Regular.ttf');
}

@font-face {
  font-family: Noir;
  src: url('../../assets/Noir/NoirStd-Bold.ttf');
  font-weight: bold;
}
h1, button, form, p {
  font-family: Noir;
  color: #342a1d;
}