.product {
  background: lightgreen;
  width: 400px;
  height: 300px;
  border: 2px solid #342a1d;
  border-radius: 15px 50px;
  margin: 10px;
  padding: 10px;
  text-align: center;
}

.container {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
  justify-content: center;
  background: lightgoldenrodyellow;
}

h2, h4 {
  display: inline;
}